<% @page_title = "New Section" %>
<% @panel_header = "Create New Section" %> 
<div class="row"> 
    <div class="col-lg-12">
      <%= link_to("<<< Go To List", {:action => 'index', :page_id => @page.id}, :class => "") %> 
    </div>
</div>
<div class="row">
   <%= error_message_for(@section)%>
   <div class="col-lg-3"></div>
   <div class="col-lg-6">
      <%= form_for(:section, :url => {:action => 'create', :page_id => @page.id}) do |f| %>
         <%= render(:partial => "form", :locals => {:f => f}) %>
         <div class="col-sm-offset-4"> 
            <%= submit_tag('Create New Section',:class => 'btn btn-default')%> 
         </div>
      <% end %> 
   </div>
   <div class="col-lg-4"> 
   </div>
</div>
