<table class="table table-striped">
         <tr>
            <td ><b>Subject : </b><%= page.subject.name  %></td>
         </tr>
         <tr>
            <td ><b>Name : </b><%= page.name %></td>
         </tr>
         <tr>
            <td ><b>Position : </b><%= page.position %></td>
         </tr>
         <tr>
            <td ><b>Permalink : </b><%= page.permalink %></td>
         </tr>
         <tr>
            <td ><b>Number Of Sections : </b><%= page.sections.size %></td>
         </tr>
         <tr>
            <td><b>Visibility : </b><%=  page.visible ? 'true' : 'false' %></td>
         </tr>
         <tr>
            <td><b>Time Subject Created : </b><%=  page.created_at %></td>
         </tr>
         <tr>
            <td><b>Time Subject Updated :</b><%=  page.updated_at %></td> 
         </tr>
   </table>