<% @page_title = "Update Page" %>
<% @panel_header = "Update Page" %> 
<div class="row"> 
    <div class="col-lg-12">
      <%= link_to("<<< Go To List", {:action => 'index',:subject_id => @subject.id }, :class => "") %> 
    </div>
</div>
<div class="row">
   <%= error_message_for(@page) %>
   <div class="col-lg-4"></div>
   <div class="col-lg-4">
      <%= form_for(:page, :url => {:action => 'update', :id => @page.id, :subject_id => @subject.id}) do |f| %>
         <%= render(:partial => "form", :locals => {:f => f}) %>
         <div class="col-sm-offset-4"> 
            <%= submit_tag('Update Page',:class => 'btn btn-primary')%> 
         </div>
      <% end %> 
   </div>
   <div class="col-lg-4"> 
   </div>
</div>

 
