<% @page_title = "Subjects" %>
<% @panel_header = "List Of All Subjects" %> 
<% if !@subjects.blank? %>
	<div class="row"> 
	    <div class="col-lg-8">
	      <p id="decoration"> 
		      <%= pluralize(@subjects.count, 'Subject') %> Found 
		     
	      </p>
	    </div>
	</div>
	<table class="table table-striped table-bordered">
	    <tr class="info">
	      <th> </th>
	      <th>Subject </th>
	      <th>Number Of Pages </th>
	      <th>Visibility</th>
	      <th class="text-center">Action</th>
	    </tr>
	    <% @subjects.each do |subject|%>
	    <tr class="<%= cycle('default' ,'danger')%>"> 
	      <td ><%= subject.position %></td>
	      <td ><%= subject.name %></td>
	      <td ><%= subject.pages.count %></td>
	      <td ><%= status_tag(subject.visible) %></td>
	      <td class="text-center">
	          <%= link_to('View Page',{:controller => "pages", :action => 'index' , 
	          	:subject_id => subject.id}, :class => 'btn btn-success btn-sm') %> 
	          <%= link_to('Show',{:action => 'show' , :id => subject.id}, :class => 'btn btn-success btn-sm') %>
	          <%= link_to(image_tag('edit.png', :size => '18x18')+' Edit',{:action => 'edit' , :id => subject.id}, :class => 'btn btn-primary btn-sm') %> 
	          <%= link_to('Delete',{:action => 'delete' , :id => subject.id}, :class => 'btn btn-danger btn-sm') %>
	          <%= link_to(image_tag('add.png', :size => '20x20')+' New Subject', {:action => 'new'}, :class => "btn btn-default") %> 
	      </td>
	    </tr>
	    <% end %>
    </table>
<% else %>
  <div class="row"> 
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <p class="alert alert-warning"> You do not have any sujectss added yet.<br/>Click New subject button to create one  </p>
        <%= link_to("New Subject", {:action => 'new'}, :class => "btn btn-default") %>
      </div>
      <div class="col-lg-4"></div>
  </div>
<% end %>

                
